# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
data/journal/lsn
data/local.0
data/local.ns
data/local.ns
data/local.ns
data/mongod.lock
data/mongod.lock
data/mongod.lock
data/webpaint.0
data/webpaint.ns
data/webpaint.ns
*._0
data/webpaint.ns
data/journal/j._0
data/journal/j._0
